@font-face {
  font-family: "viking";
  src: url(../font/viking.ttf) format('truetype');
}
body,
blockquote {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Myriad Pro', sans-serif;
}
.anchor {
  position: relative;
}
.anchor a {
  position: absolute;
  top: -80px;
}
#main-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #2d2929;
  z-index: 1;
}
#main-header .logo {
  height: 100%;
  margin-left: 5%;
}
#main-header .logo svg {
  height: 80px;
  width: 80px;
}
#main-header .logo svg #main-logo {
  fill: #bf2f48;
}
#main-header .logo:hover svg #main-logo {
  fill: white;
}
#main-header .header-link {
  display: none;
  color: white;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 28px;
}
#main-header .header-link:hover {
  color: #bf2f48;
}
#main-header .header-link:last-of-type {
  margin-right: 5%;
}
#main-header #burger-menu {
  margin-right: 5%;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
}
#main-header #burger-menu .bar {
  position: absolute;
  background-color: white;
  height: 8px;
  width: 40px;
  top: 0;
  left: 0;
  transition: ease-in-out 0.3s;
}
#main-header #burger-menu .bar:nth-of-type(2) {
  top: 16px;
}
#main-header #burger-menu .bar:nth-of-type(3) {
  top: 32px;
}
#main-header #burger-menu.active .bar:nth-of-type(1) {
  transform: rotate(-135deg);
  top: 16px;
}
#main-header #burger-menu.active .bar:nth-of-type(2) {
  left: -100%;
  opacity: 0;
}
#main-header #burger-menu.active .bar:nth-of-type(3) {
  transform: rotate(135deg);
  top: 16px;
}
#main-header #burger-menu:hover .bar {
  background-color: #bf2f48;
}
#menu {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 100%;
  left: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2d2929;
  transition: left ease 0.2s;
}
#menu.active {
  left: 0;
  transition: left ease 0.5s;
}
#menu a {
  font-size: 2em;
  color: white;
  margin-bottom: 2em;
}
#menu a:hover {
  color: #bf2f48;
}
#header-height {
  height: 80px;
}
#vking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../media/bg_vking.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 626px;
  font-family: viking;
  text-align: center;
  color: white;
  padding-top: 80px;
}
#vking blockquote {
  padding: 0 1.5em;
}
#vking .viking-element {
  margin-bottom: 1.5em;
}
#vking #viking {
  height: 70%;
}
#advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3f3a3a;
  font-family: 'Myriad Pro', sans-serif;
  color: white;
  text-align: center;
}
#advantages .advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
#advantages .advantage:last-of-type {
  margin-bottom: 1em;
}
#advantages .advantage .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bf2f48;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#advantages .advantage .icon img {
  width: 75%;
  height: 75%;
}
#advantages .advantage p {
  padding: 0 2em;
  font-size: 1.2em;
}
#pub {
  padding-top: 30px;
  background-color: #2d2929;
}
#pub .imgPub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#pub img {
  width: 80%;
}
#pub p {
  margin: 0%;
  padding: 2em 3em;
  color: white;
  font-size: 1.5em;
  font-family: 'myriad pro', sans-serif;
  text-align: center;
}
#contact {
  background-image: url(../media/wood_texture.jpg);
}
#contact p {
  font-family: viking;
  text-align: center;
  font-size: 40px;
  color: #bf2f48;
  margin: 0%;
  margin-bottom: 20px;
}
#contact .fondu {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#contact form {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}
#contact form ::placeholder {
  text-align: center;
  color: white;
  font-family: 'myriad pro', sans-serif;
}
#contact form #Nom,
#contact form #Email {
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  height: 50px;
  width: 80%;
  margin-bottom: 25px;
  font-family: 'myriad pro', sans-serif;
  font-size: 18px;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
}
#contact form #Commentaire {
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  max-height: 200px;
  max-width: 80%;
  min-height: 200px;
  min-width: 80%;
  margin-bottom: 25px;
  font-family: 'myriad pro', sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
  box-sizing: border-box;
}
#contact form .divBottom {
  width: 100%;
  display: flex;
  justify-content: center;
}
#contact form .bottom {
  border: none;
  height: 35px;
  width: 160px;
  color: white;
  background-color: black;
  font-family: 'myriad pro', sans-serif;
}
#contact form .bottom:hover {
  background-color: #bf2f48;
  cursor: pointer;
}
footer {
  padding: 10px 30px;
  background-color: #2d2929;
  color: white;
}
footer .placement {
  display: flex;
  justify-content: space-between;
}
footer p {
  margin-top: 20px;
  font-family: arial;
}
footer .img_footer {
  margin-top: 15px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .img_footer .imgVking {
  width: 150px;
  margin-bottom: 30px;
  padding-right: 0%;
}
footer .lien_footer {
  margin-top: 15px;
  width: 35%;
}
footer .lien_footer a {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  font-family: 'viking', arial;
}
footer .lien_footer a:hover {
  color: #bf2f48;
}
footer .realisation2 {
  display: none;
}
.sociaux {
  display: flex;
}
.sociaux .instagram {
  display: block;
  height: 35px;
  width: 35px;
  background-image: url(../media/logo_instagram.png);
  background-size: 100%;
  margin-right: 12px;
}
.sociaux .instagram:hover {
  background-image: url(../media/logo_instagram_h.png);
}
.sociaux .facebook {
  display: block;
  height: 35px;
  width: 35px;
  background-image: url(../media/logo_facebook.png);
  background-size: 100%;
  margin-right: 12px;
}
.sociaux .facebook:hover {
  background-image: url(../media/logo_facebook_h.png);
}
.sociaux .twitter {
  display: block;
  height: 35px;
  width: 35px;
  background-image: url(../media/logo_twitter.png);
  background-size: 100%;
}
.sociaux .twitter:hover {
  background-image: url(../media/logo_twitter_h.png);
}
@media (min-width: 768px) {
  .anchor {
    position: relative;
  }
  .anchor a {
    position: absolute;
    top: -120px;
  }
  #main-header {
    height: 120px;
  }
  #main-header .logo svg {
    width: 120px;
    height: 120px;
  }
  #main-header #burger-menu {
    display: none;
  }
  #main-header .header-link {
    display: block;
  }
  #vking {
    padding-top: 120px;
  }
  #vking blockquote {
    font-size: 1.2em;
  }
  #advantages {
    flex-direction: row;
    padding-top: 5em;
    padding-bottom: 5em;
  }
  #advantages .advantage .icon {
    width: 120px;
    height: 120px;
  }
  #advantages .advantage:last-of-type {
    margin-bottom: 0;
  }
  #pub p {
    font-size: 1.8em;
  }
  #contact p {
    font-size: 45px;
  }
  #contact form #Nom,
  #contact form #Email {
    width: 400px;
  }
  #contact form .divBottom {
    justify-content: flex-end;
  }
  #contact form .divBottom .bottom {
    margin-right: 10%;
  }
  footer .img_footer {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .img_footer .sociaux {
    margin: 30px;
    margin-right: 150px;
  }
  footer .img_footer .imgVking {
    margin-left: 8%;
  }
  .realisation1 {
    display: none;
  }
  footer .realisation2 {
    display: block;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  #vking blockquote {
    font-size: 1.4em;
  }
  #advantages .advantage .icon {
    width: 135px;
    height: 135px;
  }
  #advantages .advantage p {
    font-size: 1.5em;
  }
  #pub p {
    font-size: 2em;
  }
  #contact p {
    font-size: 55px;
  }
}
@media (min-width: 1200px) {
  #vking blockquote {
    font-size: 1.6em;
  }
  #advantages .advantage .icon {
    width: 150px;
    height: 150px;
  }
  #pub p {
    font-size: 2em;
  }
  #contact p {
    font-size: 65px;
  }
  #contact form #Nom,
  #contact form #Email {
    width: 500px;
  }
}
