// Insert media queries here

@media (min-width: 500px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .anchor {
        position: relative;

        a {
            position: absolute;
            top: -120px;
        }
    }

    #main-header {
        height: 120px;

        .logo {
            svg {
                width: 120px;
                height: 120px;
            }
        }

        #burger-menu {
            display: none;
        }

        .header-link {
            display: block;
        }
    }

    #vking {
        padding-top: 120px;

        blockquote {
            font-size: 1.2em;
        }
    }

    #advantages {
        flex-direction: row;
        padding-top: 5em;
        padding-bottom: 5em;

        .advantage {
            .icon {
                width: 120px;
                height: 120px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    #pub {
        p {
            font-size: 1.8em;
        }
    }

     #contact p{
        font-size: 45px;
    }

    #contact form
    {
        #Nom, #Email{
            width: 400px;
        }
        .divBottom{
            justify-content: flex-end;
            .bottom{
                margin-right: 10%;
            }

        }
    }

    footer .img_footer{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sociaux{
            margin: 30px;
            margin-right: 150px;
        }
        .imgVking{
           margin-left: 8%;
        }
    }
    .realisation1{
         display: none;
    }
    footer .realisation2
    {
        display: block;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    #vking {
        blockquote {
            font-size: 1.4em;
        }
    }

    #advantages {

        .advantage {

            .icon {
                width: 135px;
                height: 135px;
            }

            p {
                font-size: 1.5em;
            }
        }
    }

    #pub {
        p {
            font-size: 2em;
        }
    }

     #contact p{
        font-size: 55px;
    }


}

@media (min-width: 1200px) {
    #vking {
        blockquote {
            font-size: 1.6em;
        }
    }

    #advantages {
        .advantage {
            .icon {
                width: 150px;
                height: 150px;
            }
        }
    }

    #pub {
        p {
            font-size: 2em;
        }
    }

    #contact p{
        font-size: 65px;
    }
    #contact form
    {
        #Nom, #Email{
            width: 500px;
        }
    }
}

